a, a:hover {
    border: none !important;
    color: #fff !important;
}

a:before {
    content: normal !important;
}

body {
    color: #fff !important;
    background: url("background.jpg") #01505f;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Lato, "Open Sans", Avenir, "Avenir Next", "Myriad Set Pro", "Myriad Pro", Myriad, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Helvetica, Arial, Tahoma, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 115% !important;
    text-shadow: 0px 0px 1px #000, 1px 1px 0px #000, 1px 1px 1px #000;
}

h1 {
    font-size: 2em;
    font-weight: normal;
}

nav {
    display: none;
}

li:before {
    content: normal !important;
}

header {
    color: inherit;
    position: relative;
    text-align: center;
    top: 6em;
}

#links, #contact {
    position: absolute;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    width: 100%;
}

#links {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    padding: 1em 0 1em 0;
    top: 0;
}

#links h2, #contact h2 {
    display: none;
}

#links ul, #contact ul {
    margin: 0;
    padding: 0;
}

#links li, #contact li {
    display: inline;
    padding-left: 1em;
    padding: 0 1em 0 1em;
}

#contact {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
    bottom: 0;
    padding: 1em 0 1em 0;
}

#contact .caps {
    font-variant: normal;
    text-transform: none;
}

.h-entry > header, .e-content > * {
    max-width: 100%;
}

.p-author {
    display: none;
}

.p-summary {
    font-size: 1.3em;
}

.collapse-button, li span.collapse.in {
    display: none !important;
}
