a, a:hover, a:focus, a:visited {
    color: #cf022b;
    border: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: "Source Sans Pro", "Segoe UI", Seravek, "League Spartan", "Open Sans", "Work Sans", Avenir, "Avenir Next", Optima, "Optima Web", "Linux Biolinum", Vegur, Karla, Candara, Futura, "Gill Sans", Calibri, Corbel, Helvetica, Arial, sans-serif !important;
    font-size: 115% !important;
    margin-top: 3em;
}

code, kbd, samp, tt, pre {
    background-color: inherit;
    padding: 0;
    font-size: 0.85em !important;
}

header {
    text-align: left;
}

h1 {
    color: #cf022b;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

h2 {
    border-bottom: 1px solid #cf022b;
    color: inherit;
    font-style: normal;
    padding-bottom: 0.5em;
}

nav, .navbar-default {
    background-color: #cf022b;
    color: #ffffff;
}

nav {
    box-shadow: none;
}

.nav li a,
.nav li a .fa,
.nav li a:focus,
.nav li > a:focus .fa,
#toc li:before,
#toc li a {
    color: #ffffff !important;
}

.nav li a:hover,
.nav li a:hover .fa {
    color: #f79a08 !important;
}

time, .p-summary, .fa {
    color: #5a5a5a;
}

li li {
    font-size: 0.85em;
}

.h-entry ul > li:before {
    content: "\2022";
    color: #cf022b;
    margin-left: -1.1em;
    position: absolute;
}

.h-entry li li:before {
    color: #f79a08;
}

.h-entry li li li:before {
    color: #000000;
}

.p-name {
    padding-right: 200px;
}

.p-summary {
    display: none;
}

.collapse-button[aria-expanded="false"] {
    border: none;
}

img {
    margin-top: 0.5em !important;
}

header figure {
    float: right;
    margin-top: -140px;
}