@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Georgia"), url("georgia.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Georgia Bold"), url("georgiab.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local("Georgia Italic"), url("georgiai.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local("Georgia Bold Italic"), url("georgiaz.ttf") format("truetype");
}
