@import url("ibmplex.css");

body {
    font-family: "IBM Plex Sans", "IBM Plex Serif", "Linux Libertine",
        "Linux Libertine O", "Minion Web", "Minion Pro", "Minion Std", Minion,
        "Crimson Text", "ETBembo", "ETBembo LF", "STIX Two Web", "STIX Two Text",
        Charter, "PT Serif", Georgia, "Iowan Old Style", Iowan, "Iowan Web",
        "Hoefler Text", "Libre Baskerville", Baskerville, Cambria, Constantia,
        Utopia, Marion, Cochin, "Palatino Linotype", Palatino, serif !important;
    font-size: 110% !important;
}

@media (max-width: 767px) {
    body {
        font-size: 105% !important;
    }
}
