@import url("../fonts/stix.css");
@import url("../fonts/ubuntu.css");

body {
    font-family: "STIX Two Web", "STIX Two Text", Times, "Times Roman",
        "Times New Roman", "Lora Web", Lora, "Crimson Text", Crimson, "PT Serif",
        "Iowan Old Style", Iowan, "Iowan Web", Georgia, Constantia, Cambria,
        Charter, "Hoefler Text", Utopia, Marion, Cochin, "Palatino Linotype",
        Palatino, Baskerville, serif !important;
    font-size: 132% !important;
    font-variant: common-ligatures oldstyle-nums;
    line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
button,
input,
kbd,
textarea,
.modal {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Avenir,
        "Avenir Next", "Gill Sans MT", "Gill Sans", "Lucida Grande",
        "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
}

code,
kbd,
samp,
tt,
pre {
    font-family: "Ubuntu Mono", "Consolas Web", Consolas, Inconsolata,
        "Noto Mono", "Liberation Mono", "DejaVu Sans Mono", "Andale Mono", Menlo,
        Monaco, "Fira Mono", Courier, monospace !important;
    font-size: 0.85em !important;
}

@media (max-width: 767px) {
    body {
        font-size: 114% !important;
        line-height: 1.3;
    }
}
