@import url("fira-code.css");

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("FiraSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("FiraSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("FiraSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Fira Sans";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("FiraSans-BoldItalic.ttf") format("truetype");
}
