@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("Hack-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Hack";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("Hack-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Hack";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("Hack-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Hack";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("Hack-BoldItalic.ttf") format("truetype");
}
