@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Noto Serif"), url("NotoSerif-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local("Noto Serif"), url("NotoSerif-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local("Noto Serif"), url("NotoSerif-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local("Noto Serif"), url("NotoSerif-BoldItalic.ttf") format("truetype");
}
