h1, h2, h3, h4, h5, h6 {
    font-family: Chomsky, "Old London", "Cloister Black", sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .q, .q-color {
    /* color: darkred; */
    /* color: darkgreen; */
    /* color: darkblue; */
    /* color: indigo; */
    /* color: #005253; */
    /* color: #006768; */
    /* color: #003d3e; */
    /* color: #002868; */
    /* color: #392bff; */
    /* color: #0700cc; */
    color: #563d7c;
}

.font-weight-bold {
    font-weight: bold;
}

.code button {
    display: none !important;
}

/*
body {
    font-family: Chomsky, sans-serif !important;
}
*/

b, strong, .q {
    font-size: bold;
    font-size: 0.9em !important;
    font-family: Chomsky, "Old London", "Cloister Black", sans-serif !important;
    /* font-weight: bold; */
}

.gothic {
    font-family: Chomsky, "Old London", "Cloister Black", sans-serif !important;
    font-weight: normal;
}

.q {
    white-space: pre;
}

code .q, pre .q {
    font-size: 1.13em !important;
}

.epigraph {
    border: none;
}

/*
.epigraph {
    border: none;
    font-style: italic;
}

.epigraph pre {
    font-style: normal;
}

.epigraph em, .epigraph cite, .epigraph strong {
    font-style: normal;
}
*/

.riddle {
    border: none;
    font-family: "Comic Runes" !important;
    text-align: center;
}

#logo-for-q {
    line-height: 3;
    font-size: 300%;
}

#logo-for-q h3 {
    font-size: 3em !important;
}

.red {
    color: red;
}

.maroon {
    color: maroon;
}

.coral {
    color: coral;
}

.darkorange {
    color: darkorange;
}

.orange {
    color: orange;
}

.orangered {
    color: orangered;
}

.lightorange {
    color: lightorange;
}

.gold {
    color: gold;
}

.yellow {
    color: yellow;
}

.olive {
    color: olive;
}

.green {
    color: green;
}

.aqua {
    color: aqua;
}

.teal {
    color: teal;
}

.dodgerblue {
    color: dodgerblue;
}

.blue {
    color: blue;
}

.navy {
    color: navy;
}

.indigo {
    color: indigo;
}

.darkslateblue {
    color: darkslateblue;
}

.purple {
    color: purple;
}

.fuchsia {
    color: fuchsia;
}

blockquote {
    border: none;
    margin: 0;
    padding: 0;
}

blockquote blockquote {
    padding-left: 20px;
}

pre, .pre {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.text-right {
    color: #777;
}

ul {
    text-align: right;
}

ul .collapse-button {
    display: none;
}

/*

html body .e-content a[href]:before,
html body div .e-content a[href]:before,
html body .e-content div a[href]:before,
body .e-content a[href*="last.fm/"]:before,
body .e-content a[href*="youtube.com"]:before,
html body .e-content a:before {
    content: normal !important;
}

*/

.e-content li:before {
    color: inherit !important;
    content: "\2013\00A0"; /* en dash */
}

/* @media print { */
/*     html body .e-content li:before { */
/*         /\* color: inherit !important; *\/ */
/*         color: #000 !important; */
/*         content: "\2013" !important; /\* en dash *\/ */
/*     } */
/* } */

blockquote {
    padding-left: 20px;
    padding-right: 20px;
}

.latex-a {
    font-size: 70%;
    line-height: 0;
    margin-left: -0.36em;
    margin-right: -0.15em;
    text-transform: uppercase;
    vertical-align: 0.3em;
}

.tex-e {
    line-height: 0;
    margin-left: -0.1667em;
    margin-right: -0.07em;
    text-transform: uppercase;
    vertical-align: -0.5ex;
}

.amp, .and {
    font-variant: oldstyle-nums small-caps;
}

.text-small {
    font-size: 0.8em;
}

html body .e-content a[href]:before {
    content: normal !important;
}

/* Hints */

a[name='q'],
a[href='#a'],
a[href='#q'],
a[href='#s'],
a[href='#w'],
a[href='#x'],
a[href='#y'],
a[href='#z'],
a[href='#stonehenge'],
a[href='#maitre'],
a[href='#qabalah'],
a[href='#quorra'],
a[href='#kimba'],
a[href='#bama'],
a[href='#humdog'],
a[href='#telescope'],
a[href='#tree'],
a[href='#bible'],
a[href='#scripture'],
a[href='#the-way-to-love'],
a[href='#suggestion'],
a[href='#what'],
a[href='#toenail'],
a[href='http://bible.com/'],
a[href='http://quran.com/'],
a[href='http://Match.com'],
a[href*="ctex."],
a[href*="descent2."],
a[href*="urantia."],
a[href='http://en.wikiquote.org/wiki/Bill_Hicks'],
a[href='http://en.wikipedia.org/wiki/When_Will_I_See_You_Again'],
a[href='http://en.wikiquote.org/wiki/Moby-Dick'],
a[href='http://en.wikipedia.org/wiki/Olivia_Wilde'],
a[href='http://tron.fandom.com/wiki/Quorra'] {
    border: none;
}

/* Books */

html body a[href="#qabalah"]:before,
html body .e-content a[href="#qabalah"]:before,
html body a[href*="bible."]:before,
html body .e-content a[href*="bible."]:before,
html body a[href*="quran."]:before,
html body .e-content a[href*="quran."]:before,
html body a[href*="urantia."]:before,
html body .e-content a[href*="urantia."]:before {
    color: #777;
    content: "\f02d" !important; /* fa-book */
}
