code, samp, tt, pre {
    background-color: inherit;
    font-size: 0.75em !important;
    padding: 0;
}

header figure {
    float: right;
    margin-top: -180px;
}

pre {
    padding: 0 1.5em 0 1.5em;
}

.p-name {
    padding-right: 200px;
}
