blockquote {
    font-size: 1em;
    margin: 1em 0 1em 0;
    padding-left: 20px;
    padding: 0 0 0 20px;
}

pre,
.pre pre {
    background: inherit;
    border: none;
    margin-left: 1.3em;
    padding: 0;
}

code,
.kbd,
samp,
tt {
    background: inherit;
    padding: 0;
}

code,
.kbd,
samp,
tt {
    /* font-size: 0.75em !important; */
}

code,
kbd,
samp,
tt,
pre,
.pre pre {
    color: inherit;
}

.pre code {
    font-size: 1em !important;
}

.code,
.pre {
    font-size: 100% !important;
}

.e-content .pre .btn {
    top: 0px;
}

.e-content .code .btn,
.e-content .pre .btn {
    background: #fff;
}

.pull-quote {
    border-top: 1px solid #555 !important;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.5em !important;
    margin-top: 1em !important;
}

/* code:hover, */
/* pre:hover { */
/*     background-color: #f9f9f9; */
/* } */

h1 + div > .pre:first-child pre,
h2 + div > .pre:first-child pre,
h3 + div > .pre:first-child pre,
h4 + div > .pre:first-child pre,
h5 + div > .pre:first-child pre,
h6 + div > .pre:first-child pre,
h1 + div > section > .pre:first-child pre,
h2 + div > section > .pre:first-child pre,
h3 + div > section > .pre:first-child pre,
h4 + div > section > .pre:first-child pre,
h5 + div > section > .pre:first-child pre,
h6 + div > section > .pre:first-child pre {
    padding-top: 0.5em;
}
