@import url("../fonts/stix.css");
@import url("../fonts/fira.css");
@import url("../fonts/ubuntu-mono.css");

body {
    font-family: "STIX Two Web", "STIX Two Text", Times, "Times Roman",
        "Times New Roman", "Lora Web", Lora, "Crimson Text", Crimson, "PT Serif",
        "Iowan Old Style", Iowan, "Iowan Web", Georgia, Constantia, Cambria,
        Charter, "Hoefler Text", Utopia, Marion, Cochin, "Palatino Linotype",
        Palatino, Baskerville, serif !important;
    font-size: 132% !important;
    font-variant: common-ligatures oldstyle-nums;
    line-height: 1.55;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
button,
input,
kbd,
textarea,
.modal {
    font-family: "Fira Sans", "Inter UI", "IBM Plex Sans", "IBM Plex Serif",
        "Linux Libertine", "Linux Libertine O", "Minion Web", "Minion Pro",
        "Minion Std", Minion, "Crimson Text", "ETBembo", "ETBembo LF",
        "STIX Two Web", "STIX Two Text", Charter, "PT Serif", Georgia,
        "Iowan Old Style", Iowan, "Iowan Web", "Hoefler Text",
        "Libre Baskerville", Baskerville, Cambria, Constantia, Utopia, Marion,
        Cochin, "Palatino Linotype", Palatino, serif !important;
}

code,
kbd,
samp,
tt,
pre {
    font-family: "Ubuntu Mono", "Consolas Web", Consolas, Inconsolata,
        "Noto Mono", "Liberation Mono", "DejaVu Sans Mono", "Andale Mono", Menlo,
        Monaco, "Fira Mono", Courier, monospace !important;
    font-size: 0.9em !important;
}

@media (max-width: 767px) {
    body {
        font-size: 114% !important;
        line-height: 1.3;
    }
}
